################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/COA_PRIS/FileContentIndex/4b397e43-0b53-470b-914d-4af83a69b879.vsidx
/.vs/COA_PRIS/FileContentIndex/4b9eb122-441b-4a14-a487-b1c6936d110d.vsidx
/.vs/COA_PRIS/FileContentIndex/66017922-2b38-475b-aaa5-9a1d9f2619ac.vsidx
/.vs/COA_PRIS/FileContentIndex/99f0330a-fe88-40cd-bc76-ff3f3b203dd2.vsidx
/.vs/COA_PRIS/FileContentIndex/d2d2e133-e731-42a3-ac98-fbfa825fd6d5.vsidx
/.vs/COA_PRIS/FileContentIndex/6339c18c-3f2e-418d-947e-3f59c0300137.vsidx
/.vs/COA_PRIS/FileContentIndex/7d8108a7-8b83-4ac2-aa6c-0abeb1aaaa39.vsidx
/.vs/COA_PRIS/FileContentIndex/903991fb-8ce4-4d15-ab20-2a909ff961bf.vsidx
/.vs/COA_PRIS/FileContentIndex/94a11161-0e30-4606-b418-6781d5f3f888.vsidx
/.vs/COA_PRIS/FileContentIndex/bf350cd2-bc4e-4d2c-8ff6-275384edac9a.vsidx
/.vs/COA_PRIS/FileContentIndex/e5813e7e-bc3c-4f94-8784-b898ed1be606.vsidx
/COA_PRIS/login.resx
/COA_PRIS/login.Designer.cs
/COA_PRIS/login.cs
