################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/COA_PRIS/FileContentIndex/4b397e43-0b53-470b-914d-4af83a69b879.vsidx
/.vs/COA_PRIS/FileContentIndex/4b9eb122-441b-4a14-a487-b1c6936d110d.vsidx
/.vs/COA_PRIS/FileContentIndex/66017922-2b38-475b-aaa5-9a1d9f2619ac.vsidx
/.vs/COA_PRIS/FileContentIndex/99f0330a-fe88-40cd-bc76-ff3f3b203dd2.vsidx
/.vs/COA_PRIS/FileContentIndex/d2d2e133-e731-42a3-ac98-fbfa825fd6d5.vsidx
/.vs/COA_PRIS/FileContentIndex/6339c18c-3f2e-418d-947e-3f59c0300137.vsidx
/.vs/COA_PRIS/FileContentIndex/7d8108a7-8b83-4ac2-aa6c-0abeb1aaaa39.vsidx
/.vs/COA_PRIS/FileContentIndex/903991fb-8ce4-4d15-ab20-2a909ff961bf.vsidx
/.vs/COA_PRIS/FileContentIndex/94a11161-0e30-4606-b418-6781d5f3f888.vsidx
/.vs/COA_PRIS/FileContentIndex/bf350cd2-bc4e-4d2c-8ff6-275384edac9a.vsidx
/.vs/COA_PRIS/FileContentIndex/e5813e7e-bc3c-4f94-8784-b898ed1be606.vsidx
/.vs/COA_PRIS/FileContentIndex/7790e4a4-4a2c-4f0c-8511-6e018242ddab.vsidx
/.vs/COA_PRIS/FileContentIndex/928738b7-fce8-4117-b9b6-55819ce4464e.vsidx
/.vs/COA_PRIS/FileContentIndex/a2ca57e6-be28-4369-9e07-4de247507119.vsidx
/.vs/COA_PRIS/FileContentIndex/b19fa26c-fa4e-4cdc-89b9-92e50a9691fe.vsidx
/.vs/COA_PRIS/FileContentIndex/e285bee5-f6d5-483a-b707-6374da58c0c2.vsidx
/.vs/COA_PRIS/FileContentIndex/05045d95-a79b-4209-b018-28b94bddbca8.vsidx
/.vs/COA_PRIS/FileContentIndex/5289ffd9-a92d-4308-bc13-eace9b4d5be7.vsidx
/.vs/COA_PRIS/FileContentIndex/6832d5a1-fdda-4e7e-a3ed-81ae06b21812.vsidx
/.vs/COA_PRIS/FileContentIndex/d6159c1f-f4cc-44e8-a2f3-d89093e11be6.vsidx
/.vs/COA_PRIS/FileContentIndex/dbb0225d-114c-4e1d-bdc3-774a8fd008f4.vsidx
/.vs/COA_PRIS/FileContentIndex/0b5eea98-6339-4b2f-96df-36ab89371273.vsidx
/.vs/COA_PRIS/FileContentIndex/0ea0b289-ce0f-45bc-a910-e95e2ff9c638.vsidx
/.vs/COA_PRIS/FileContentIndex/22f9a072-0698-44e3-af1a-4e82d95eb91a.vsidx
/.vs/COA_PRIS/FileContentIndex/533818c8-0e56-41c9-92c5-ff2934a2edb1.vsidx
/.vs/COA_PRIS/FileContentIndex/7635d7da-d11f-44c2-a80d-ee6fc8a856b1.vsidx
/.vs/COA_PRIS/FileContentIndex/7e13bad9-0654-44b4-abda-7f460c8c356c.vsidx
/.vs/COA_PRIS/FileContentIndex/a5d03d9d-e35c-4b6f-ba3f-b0ec7c11d047.vsidx
/.vs/COA_PRIS/FileContentIndex/c5f7f105-2111-4997-bba1-7c32b9502d4f.vsidx
/.vs/COA_PRIS/FileContentIndex/ca2dcaac-67b6-4baa-aed5-88d164cebfe0.vsidx
/.vs/COA_PRIS/FileContentIndex/read.lock
